body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
}

.form-group {
    margin-bottom: 15px;

    &:has(.radio-group) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .radio-group {
            display: flex;
            column-gap: 16px;

            label {
                display: flex;
                column-gap: 2px;
                input {
                    margin: 0px;
                }
            }
        }
    }

    input, select {
        border: 1px solid;
        border-radius: 4px;
        &:focus, &:focus-visible {
            background-color: #cbe0f7;
            border: 1px solid #0056b3;
            border-radius: 4px;
            outline: none;
        }

        option {
            background-color: white;
            &:hover {
                background-color: #cbe0f7;
            }
        }
    }

    input:disabled {
        font-weight: 600;
        background-color: #EBEBE4  ;
        color: #C6C6C6;
    }

    &.btn {
        display: flex;
        column-gap: 3rem;

        button, a {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            color: white;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
        }
    }

    button:hover, a:hover {
        background-color: #0056b3;
    }

    select, input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }
}
